<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title><?=(@$this->title ? : 'Digital company')?></title>

    <link href="/static/cart-ico.png" rel="shortcut icon">

	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/ace.min.css" rel="stylesheet">
	<link href="/static/css/ace-rtl.min.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">

    <script src="/static/js/jquery-2.1.0.min.js"></script>
    <script src="/static/js/jquery.autosize.min.js"></script>
    <script src="/static/js/fuelux.spinner.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>



    <script src="/static/js/ace-elements.min.js"></script>
	<script src="/static/js/ace.min.js"></script>

    <!-- ace settings handler -->
    <script src="/static/js/ace-extra.min.js"></script>

	<script src="/static/js/main.js"></script>
</head>
<body class="no-skin">

<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
    </script>

     <?= $this->renderPartial(
        'parts/part-navbar.html',
        array(
            'user' => $this->user,
        )
    );?>
<!-- /.container -->
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <?= $this->renderPartial(
        'manager/parts/part-sidebar.html',
        array(
            'user' => $this->user,
        )
    );?>
    <div class="main-content">
        <?= $this->getInnerContent(); ?>
    </div>
</div>

</body>
</html>