<div class="navbar-container" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
        <span class="sr-only">Toggle sidebar</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

	<div class="navbar-header pull-left">
		<a href="/" class="navbar-brand">
			<small>
				<i class="fa fa-leaf"></i>
				Digital company
			</small>
		</a>
	</div>

	<div class="navbar-buttons navbar-header pull-right" role="navigation">
		<ul class="nav ace-nav">

			<?php if ($this->user['role_id'] == Table_Users::ROLE_MANAGER) { ?>
			<li class="purple">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<?=Helper_Manager::calculateMonthlyZp($this->user);?>$
					<!--<i class="ace-icon fa fa-bell icon-animated-bell"></i>-->
					<!--<span class="badge badge-important">1</span>-->
				</a>

				<!--<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">-->
					<!--<li class="dropdown-header">-->
						<!--<i class="icon-warning-sign"></i>-->
						<!--1 Notification(s)-->
					<!--</li>-->

					<!--<li>-->
						<!--<a href="#">-->
							<!--<div class="clearfix">-->
										<!--<span class="pull-left">-->
											<!--<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>-->
											<!--Заказ выполнен-->
											<!--<span class="msg-time">-->
												<!--<i class="ace-icon fa fa-clock-o"></i>-->
												<!--<span>20 minutes ago</span>-->
											<!--</span>-->
										<!--</span>-->
								<!--<span class="badge badge-success pull-right">+11$</span>-->
							<!--</div>-->
						<!--</a>-->
					<!--</li>-->

					<!--<li class="dropdown-footer">-->
						<!--<a href="#">-->
							<!--See all notifications-->
							<!--<i class="ace-icon fa fa-arrow-right"></i>-->
						<!--</a>-->
					<!--</li>-->
				<!--</ul>-->
			</li>
			<?php } ?>

			<li class="light-blue">
				<a data-toggle="dropdown" href="#" class="dropdown-toggle">
					<img class="nav-user-photo" src="<?=Helper_User::getAvaSrc($this->user);?>" alt="<?=$this->user['username'];?>'s Photo">
								<span class="user-info">
									<small><?=Table_Users::me()->getRoleTitleByRoleId($this->user['role_id']);?>,</small>
									<?=$this->user['username'];?>
								</span>
					<i class="ace-icon fa fa-caret-down"></i>
				</a>

				<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
					<li>
						<a href="#">
							<i class="ace-icon fa fa-cog"></i>
							Settings
						</a>
					</li>

					<li>
						<a href="<?=Helper_Url::routeUrl('profile');?>">
							<i class="ace-icon fa fa-user"></i>
							Profile
						</a>
					</li>

					<li class="divider"></li>

					<li>
						<a href="<?= Helper_Url::routeUrl('user_logout') ?>">
							<i class="ace-icon fa fa-power-off"></i>
							Logout
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
<!-- /.navbar-container -->
</div>