body {
    overflow-y: scroll;
}

#newOrder textarea, #newOrder input {
	padding: 0;
}
#newOrder td.order textarea, #newOrder td.order input {
	font-size: 12px;
}
#newOrder .action-buttons a {
	margin-left: 1px;
	margin-right: 1px;
}

td.order input, td.order textarea{
	float:left;
}