<?php

$this->useLayout(
	'manager/layout.html',
	array(
		'title' => 'Добавление заказа',
		'user' => $this->user,
	)
);

?>

<div class="page-content">
	<div class="page-header">
		<h1>
			Добавление заказа
			<small>
				<i class="icon-double-angle-right"></i>
				может быть что то еще
			</small>
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<form class="form-horizontal" role="form">

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right">Input with Icon</label>

				<div class="col-sm-9">
					<span class="input-icon">
						<input type="text" id="form-field-icon-1">
						<i class="icon-leaf blue"></i>
					</span>

					<span class="input-icon input-icon-right">
						<input type="text" id="form-field-icon-2">
						<i class="icon-leaf green"></i>
					</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label no-padding-right" for="form-field-6">Tooltip and help button</label>

				<div class="col-sm-9">
					<input data-rel="tooltip" type="text" id="form-field-6" placeholder="Tooltip on hover" title="" data-placement="bottom" data-original-title="Hello Tooltip!">
					<span class="help-button" data-rel="popover" data-trigger="hover" data-placement="left" data-content="More details." title="" data-original-title="Popover on hover">?</span>
				</div>
			</div>

			<div class="clearfix form-actions">
				<div class="col-md-offset-3 col-md-9">
					<button class="btn btn-info" type="button">
						<i class="icon-ok bigger-110"></i>
						Добавить
					</button>

					&nbsp; &nbsp; &nbsp;
					<button class="btn" type="reset">
						<i class="icon-undo bigger-110"></i>
							Сбросить
					</button>
				</div>
			</div>

		</form>
	</div>
</div>

<script type="text/javascript">
	jQuery(function($) {
		$('[data-rel=tooltip]').tooltip({container:'body'});
		$('[data-rel=popover]').popover({container:'body'});
	});
</script>
