<?php

$this->useLayout(
	'manager/layout.html',
	array(
		'title' => 'Добавление заказа',
		'user' => $this->user,
	)
);

?>

<div class="page-content">
	<div class="page-header">
		<h1>
			Добавление нового заказа
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">

			<form class="form-inline" method="post" role="form">
				<table class="table">
					<thead>
					<tr>
						<th>Заказ</th>
						<th>Время выполнения</th>
						<th>Контакты</th>
						<th>Дополнительно</th>
						<th>Адрес&nbsp;доставки</th>
						<th>Продажа</th>
						<th>Сборка</th>
						<th>Доставка</th>
						<th>ФЗП</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							<textarea style="width:400px;"  class="autosize" name="order" placeholder="Подробное описание заказа"></textarea>
						</td>
						<td>
							<textarea class="autosize" name="delivery_time" placeholder="Время исполнения"></textarea>
						</td>
						<td>
							<textarea class="autosize" name="contacts" placeholder="Контакты"></textarea>
						</td>
						<td>
							<textarea class="autosize" name="notes" placeholder="Другие заметки"></textarea>
						</td>
						<td>
							<textarea class="autosize" name="delivery_address" placeholder="Адрес доставки"></textarea>
						</td>
						<td width="15px">
							<input type="text" value="0" name="assembly_price" class="input-mini spinner-input form-control" id="spinner-sale_price">
						</td>
						<td width="15px">
							<input type="text" value="0"  name="assembly_price" class="input-mini spinner-input form-control" id="spinner-assembly_price">
						</td>
						<td width="15px">
							<input type="text" value="0" name="delivery_price" class="input-mini spinner-input form-control" id="spinner-delivery_price">
						</td>
						<td>
							0
						</td>
					</tr>
					</tbody>
				</table>

				<?=Messages::view();?>

				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn submit btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							Добавить
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							Сбросить
						</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#spinner-assembly_price').ace_spinner({value:0,min:0,max:999,step:1, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
				.on('change', function(){
//					alert(this.value)
				});

		$('#spinner-delivery_price').ace_spinner({value:0,min:0,max:999,step:1, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
				.on('change', function(){
//					alert(this.value)
				});

		$('#spinner-sale_price').ace_spinner({value:0,min:0,max:9999,step:1, btn_up_class:'btn-info' , btn_down_class:'btn-info'})
				.on('change', function(){
//					alert(this.value)
				});
	});
</script>
