<?php

$this->useLayout(
	'manager/layout.html',
	array(
		'title' => "Заказы: $this->status",
		'user' => $this->user,
	)
);

?>

<div class="page-content">
	<div class="page-header">
		<h1>
			Заказы
			<small>
				<i class="icon-double-angle-right"></i>
				со статусом:
				<?=Helper_Order::getStatusLabelById($this->statusId);?>
			</small>
		</h1>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<?= $this->renderPartial(
				'manager/order/parts/part-orders-list.html',
				array(
					'orders' => $this->orders,
					'pages' => $this->pages,
				)
			);?>
		</div>
	</div>
</div>
