<div class="sidebar responsive" id="sidebar">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>
	<ul class="nav nav-list">
		<li>
			<a href="/">
				<i class="icon-dashboard"></i>
				<span class="menu-text"> Главная </span>
			</a>
		</li>

		<li>
			<a href="#" class="dropdown-toggle">
				<i class="icon-desktop"></i>
				<span class="menu-text"> Заказы </span>

				<b class="arrow icon-angle-down"></b>
			</a>

			<ul class="submenu">
				<?php if ($this->user['role_id'] == Table_Users::ROLE_MANAGER) { ?>
					<li>
						<a href="<?=Helper_Url::routeUrl('ordersByStatus', array('status' => 'private'));?>">
							<i class="icon-double-angle-right"></i>
							Ждут подтверждения
						</a>
					</li>

					<li>
						<a href="<?=Helper_Url::routeUrl('ordersByStatus', array('status' => 'pending'));?>">
							<i class="icon-double-angle-right"></i>
							Ждут доставки
						</a>
					</li>

					<li>
						<a href="<?=Helper_Url::routeUrl('ordersByStatus', array('status' => 'closed'));?>">
							<i class="icon-double-angle-right"></i>
							Закрыты
						</a>
					</li>
				<?php } elseif ($this->user['role_id'] == Table_Users::ROLE_SERVICE) { ?>
					<li>
						<a href="<?=Helper_Url::routeUrl('ordersByStatus', array('status' => 'pending'));?>">
							<i class="icon-double-angle-right"></i>
							Ждут доставки
						</a>
					</li>

					<li>
						<a href="<?=Helper_Url::routeUrl('ordersByStatus', array('status' => 'closed'));?>">
							<i class="icon-double-angle-right"></i>
							Закрыты
						</a>
					</li>
				<?php } ?>
			</ul>
		</li>

		<?php if ($this->user['role_id'] != Table_Users::ROLE_SERVICE) { ?>
			<li>
				<a href="<?=Helper_Url::routeUrl('orderAdd');?>">
					<i class="icon-edit"></i>
					<span class="menu-text"> Добавить заказ </span>
				</a>
			</li>
		<?php } ?>
	</ul><!-- /.nav-list -->
</div>
